.navbarMap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin:0px;
    width:100%;
    box-sizing: border-box;

}
.button-logout{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.loading-spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

/* Ensure the map takes the full screen */

.map-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  